CompileFlags:
        Remove:
                - "-fno-allow-store-data-races"
                - "-femit-struct-debug-baseonly"
                - "-fconserve-stack"
                - "-mstack-protector-guard=sysreg"
                - "-mstack-protector-guard-offset=1152"
                - "-mstack-protector-guard-reg=sp_el0"
                - "-ftrivial-auto-var-init=zero"
                - "-enable-trivial-auto-var-init-zero-knowing-it-will-be-removed-from-clang"
                - "--target"
                - "-mabi=lp64"
                - "-march=armv8.5-a"

        Add:
                - "--target=aarch64-none-elf"
                - "-I/home/hao/linux-5.15.193/include"
                - "-I/home/hao/linux-5.15.193/arch/arm64/include"
